body {
    margin: 0;
    padding: 0;
    background-image: url('./images/main.png');
    background-size: 100% 100%;
    background-attachment: fixed;   
    color: white;
    font-family: 'Stolzl', sans-serif;  
}

a{
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type:  none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.container {
    max-width: 1296px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 75px 0;
}

.logo__img {
    -webkit-user-drag: none;
}

.logo__img:not(:last-child) {
    margin-right: 24px;
}

.menu__item + .menu__item:not(:first-child){
    margin-left: 40px;
}

.menu__item {
    transition: all .1s;
}

.menu__item:hover {
    border-bottom: 1px solid white;
}

.menu__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
}

.right-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rught-wrapper-btn {
    font-weight: 400;
    color: black;
    font-size: 13px;
    line-height: 18.2px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    background-color: white;
    transition: all .1s;
}

.rught-wrapper-btn:hover {
    color: rgb(7, 7, 69);
    background-color: rgb(231, 241, 245);
    box-shadow: 1px 1px 2px rgb(229, 233, 235);
}

.vk {
    background-image: url('./images/vk.png');
}

.telegram {
    background-image: url('./images/telegram.png');
}



.hotel_name {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 40px;
}

.description__container {
    margin-bottom: 40px;
}

.description__text {
    font-weight: 400;
    font-size: 18px; 
}

.reserve-btn {
    font-weight: 400;
    color: black;
    font-size: 18px;
    line-height: 25.2px;
    padding: 16px 24px 16px 24px;
    border-radius: 12px;
    background-color: white;
    align-self: flex-start;
    transition: all .3s;
}




.hotel__container {
    display: flex;
    gap: 50px;
}

.hotel__content {
    flex-basis: 70%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 312px;
    backdrop-filter: brightness(140%) blur(7px);
    border-radius: 8px;
    padding: 28px 32px 28px 32px;
    align-self: flex-start;
}

.card__description {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about-card {
    font-weight: 400;
    color: white;
    font-size: 15px;
    line-height: 21px;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    background-color: #3D324F;
    align-self: flex-start;
    transition: all .3s;
}

.about-card__title {
    font-size: 24px;
    font-weight: 500;    
}

.about-card__text {
    font-weight: 400;
    font-size: 15px;
}
    


.menu__btn{
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 13px 0;
    position: relative;
    display: none;
    z-index: 10;
}
.menu__btn::after,
.menu__btn::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #001e64;
}
.menu__btn::before{
    top: 0;
}
.menu__btn::after{
    bottom: 0;
}
.menu__btn span{
    display: block;
    height: 4px;
    background-color: #001e64;
}


@media (max-width: 1100px){
    .menu__item {
        margin-left: 40px;
        margin-right: 40px;
    }
    .menu__list{        
        position: absolute;
        left: 20%;
        right: 20%;
        backdrop-filter: brightness(140%) blur(7px);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        margin: auto;        
        top: -350px; 
        transition: all .5s;
    }
    .menu__link:hover{
        border: none;
    }
    .menu__list.menu__list--active{
        top: 75px;
    }
    .menu__btn{
        display: block;
    }
    .menu{
        margin-left: auto;
        margin-top: 12px;
        margin-right: 20px;
    }
    .menu__item + .menu__item{
        margin-left: 0;
        padding: 0;
    }
    .menu__link{
        padding: 20px 0;
        display: block;
        text-align: center;       
    }
    .menu__list{
        z-index: 5;
    }    
}

@media (max-width: 950px){
    .card img {
        width: 200px;
    }

    .card {
        width: 200px;
    }
}