body {
    margin: 0;
    padding: 0;
    background: url('./images/main.png') 50% no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;   
    color: white;
    font-family: 'Stolzl', sans-serif;  
}

a{
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type:  none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.container {
    max-width: 1296px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 75px 0;
}

.logo__img {
    -webkit-user-drag: none;
}

.logo__img:not(:last-child) {
    margin-right: 24px;
}

.menu__item + .menu__item:not(:first-child){
    margin-left: 40px;
}

.menu__item {
    transition: all .1s;
}

.menu__item:hover {
    border-bottom: 1px solid white;
}

.menu__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
}

.social__list {
    display: none;
}

.right-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rught-wrapper-btn {
    font-weight: 400;
    color: black;
    font-size: 13px;
    line-height: 18.2px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    background-color: white;
    transition: all .1s;
}

.rught-wrapper-btn:hover {
    color: rgb(7, 7, 69);
    background-color: rgb(231, 241, 245);
    box-shadow: 1px 1px 2px rgb(229, 233, 235);
}

.vk {
    background-image: url('./images/vk.png');
}

.telegram {
    background-image: url('./images/telegram.png');
}


.hotel__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 75px;
}

.hotel__container-name {
    margin: 0;
    font-weight: 700;
    font-size: 49px;
}

.hotel__container-btn {
    font-weight: 400;
    color: white;
    font-size: 18px;
    line-height: 25.2px;
    padding: 16px 24px 16px 24px;
    border-radius: 12px;
    background-color: #3D324F;
    align-self: flex-start;
    transition: all .3s;
}

.hotel__container-btn:hover {
    color: #e5e0ec;
    background-color: #3a2e4d;
    box-shadow: 1px 1px 2px #3a2e4d;
}


.bestDeals-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 33.6px;
    margin-bottom: 20px;
}

.bestDeals__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.bestDeals-card {
    display: flex;
    flex-direction: row;    
    padding: 20px 24px 20px 24px;
    margin-right: 32px;     
    margin-bottom: 32px;   
    border-radius: 16px;
    backdrop-filter: brightness(140%) blur(7px);
}

.bestDeals-card-img {
    margin-right: 28px;
}

.bestDeals-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bestDeals-card__content-name {
    font-weight: 400;
    font-size: 15;
    line-height: 21px;    
    margin: 0;
}

.bestDeals-card__content-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 33.6px;   
    margin: 0;
}

.bestDeals-card__content-btn {
    font-weight: 400;
    color: white;
    font-size: 13px;
    line-height: 18.2px;
    padding: 12px 20px 12px 20px;
    border-radius: 8px;
    background-color: #3D324F;
    align-self: flex-start;
    transition: all .3s;
}
    


.menu__btn{
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 13px 0;
    position: relative;
    display: none;
    z-index: 10;
}
.menu__btn::after,
.menu__btn::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #001e64;
}
.menu__btn::before{
    top: 0;
}
.menu__btn::after{
    bottom: 0;
}
.menu__btn span{
    display: block;
    height: 4px;
    background-color: #001e64;
}


@media (max-width: 1100px){
    .menu__item {
        margin-left: 40px;
        margin-right: 40px;
    }
    .menu__list{        
        position: absolute;
        left: 20%;
        right: 20%;
        backdrop-filter: brightness(140%) blur(7px);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        margin: auto;        
        top: -480px; 
        transition: all .5s;
    }
    .menu__link:hover{
        border: none;
    }
    .menu__list.menu__list--active{
        top: 75px;
    }
    .menu__btn{
        display: block;
    }
    .menu{
        margin-left: auto;
        margin-top: 12px;
        margin-right: 20px;
    }
    .menu__item + .menu__item{
        margin-left: 0;
        padding: 0;
    }
    .menu__link{
        padding: 20px 0;
        display: block;
        text-align: center;       
    }
    .menu__list{
        z-index: 5;
    }    
}

@media (max-width: 764px){
    body {
        background-size: cover;
    }
    .logo__img1 {
        display: none;
    }    
    .header__content {
        padding: 0;
        margin-bottom: 60px;
    }
    .social__hidden {
        display: none;
    }
    .social__list {
        padding: 0;   
        display: block; 
    }
    .header__content {
        background-color: #51426a;
        padding-left: 8px;
        padding-right: 8px;
    }
    .header {
        .container {
            padding: 0;
        }
    }

    .hotel__container {
        align-items: center;
        gap: 10px;
    }
    .hotel__container-name {
        text-align: center;
    }
    .hotel__container-btn {
        width: 100%;
        text-align: center;
        align-self: auto;
    }

    .bestDeals__container {
        flex-direction: block;
        flex-wrap: nowrap;  
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .bestDeals-card {
        display: block;
        flex: 0 0 auto;
        scroll-snap-align: start;
    }
}